body {
	background: -webkit-linear-gradient(left, lightblue, lightgoldenrodyellow);
	background: -moz-linear-gradient(right, lightblue, lightgoldenrodyellow);
	background: linear-gradient(to right, lightblue, lightgoldenrodyellow);
	font-family: arial;

}
#container {
	max-width: 300px;
	background-color: white;
	margin: 75px auto 0 auto;
}
#title {
	color: white;
	background-color: cornflowerblue;
	height: 40px;
	padding: 8px 8px 8px 8px;
}
h1 {
	height: 40px;

	float: left;
	margin: 0 70px 0 0;
}
.fa-plus {
	float: left;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}​
