body {
	background: -webkit-linear-gradient(left, lightblue, lightgoldenrodyellow);
	background: -moz-linear-gradient(right, lightblue, lightgoldenrodyellow);
	background: linear-gradient(to right, lightblue, lightgoldenrodyellow);
	font-family: arial;
}
.container {
	max-width: 300px;
	background-color: red;
	margin: 75px auto 0 auto;
	font-size: 0.8em;
	color: #666666;
}
#title {
	color: white;
	background-color: cornflowerblue;
	height: 40px;
	padding: 8px 8px 8px 8px;
}
h1 {
	height: 40px;
	float: left;
	margin: 0;
	width: 90%;
}
.fa-plus {
	float: left;
	width: 10%;
	margin-top: 5px;
}
#add-new {
	height: 38px;
	background-color: #e2e2e2;
}
input {
	max-height: 100%;
	width: 270px;
	border: none;
	background-color: transparent;
	padding: 10px 10px 10px 20px;
	margin: 0;
	color: #666666;
	font-family: arial;
	font-size: 1.2em;
	outline: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 10px 20px 10px 20px;
}
li:nth-child(even) { 
	background-color: #e2e2e2;
}
li:nth-child(odd) { 
	background-color: white;
}