<script> // ignore script tag
// To begin, enter the following terminal commands:
	// mkdir [filename]
	// cd [filename]
	// npm init
	// npm install express --save
	// npm install ejs --save
	// npm install body-parser --save
	// npm install request --save
	// touch app.js
	// mkdir views
	// touch views/home.ejs

// then open the app.js and home.ejs files
</script>

<!--  -->
<!-- home.ejs File -->
<!--  -->

<h1>Movie Title Search</h1>
<form action="/search" method="POST">
    <input type ="text" name="search" placeholder="Enter search term">
    <button>Submit</button>
</form>
<% if(filmList.length > 0){ %>
    <h3>Search Results:</h3>
<% } %>
<% for(var i = 0; i < filmList.length; i++){ %>
    <li><%= filmList[i] %></li>
<% } %>

<!--  -->
<!-- app.js File -->
<!--  -->

<script> // ignore script tag
var express = require("express");
var app = express();
var request = require("request");
var bodyParser = require("body-parser");
app.use(bodyParser.urlencoded({extended: true}));
app.set("view engine", "ejs");

// ARRAYS
var filmList = [];

// ROUTE REQUESTS
app.get("/", function(req, res){
	res.render("home", {filmList: filmList});
	
});

app.post("/search", function(req, res){
	filmList = [];
    var searchTerm = req.body.search;
    var url = "http://www.omdbapi.com/?s=" + searchTerm;
    request(url, function(error, response, body){
		if(!error && response.statusCode == 200){
		   var parsedData = JSON.parse(body)
		   if(parsedData["Response"] === "True"){
			    for(var i = 0; i < parsedData["Search"].length; i++){
			    	filmList.push(parsedData["Search"][i]["Title"]);
			    }
		   }
		}
	});
    res.redirect("/");
});

app.get("*", function(req, res){
    res.send("<h1>Page Not Found</h1>");
});

// START SERVER
app.listen(process.env.PORT, process.env.IP, function(){
	console.log("Server is running");
});

</script>